<!-- Validation failure messages -->
<% if @pairing.errors.any? %>
  <% @pairing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Pairing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_pairing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for boldness_id -->
      <div class="form-group">
        <label for="boldness_id" class="control-label">
          Boldness
        </label>

        <%= select_tag(:boldness_id, options_from_collection_for_select(Boldness.all, :id, :name, @pairing.boldness_id), :class => "form-control") %>
      </div>

      <!-- Label and input for taste_id -->
      <div class="form-group">
        <label for="taste_id" class="control-label">
          Taste
        </label>

        <%= select_tag(:taste_id, options_from_collection_for_select(Taste.all, :id, :name, @pairing.taste_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Pairing
      </button>
      or
      <a href="/pairings">Cancel</a>
    </form>
  </div>
</div>
